<div class="impmal test">
    <h2>{{localize "IMPMAL-COMBAT-RESOLVE.MESSAGES.lastRoundSummary"}}</h2>
    {{#if diffTroops}}
    <span><strong>{{ diffTroops }}</strong> {{localize "IMPMAL-COMBAT-RESOLVE.MESSAGES.troopsDefeated"}}</span>
    {{/if}}
    {{#if diffElites}}
    <span><strong>{{ diffElites }}</strong> {{localize "IMPMAL-COMBAT-RESOLVE.MESSAGES.elitesDefeated"}}</span>
    {{/if}}
    {{#if diffLeaders}}
    <span><strong>{{ diffLeaders }}</strong> {{localize "IMPMAL-COMBAT-RESOLVE.MESSAGES.leadersDefeated"}}</span>
    {{/if}}
</div>